<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/about_us.css">
</head>
<body>
    
<h1>
    <h2 class="b">Meet Our Team</h2>

    <div class="diya" style="width: 18rem;">
        <ul class="a">
            <li>Name : Diya Oswal</li>
            <li>Role : ML Part</li>
            <li>Mobile No : 7249006033</li>
          </ul>
        </div>
      </div>

    <div class="gargi" style="width: 18rem;">
        <ul class="a">
            <li>Name : Gargi Meshram</li>
            <li>Role : Web Development Part</li>
            <li>Mobile No : 9156644846</li>
          </ul>
        </div>
      </div>
    <div class="natashi" style="width: 18rem;">
        <ul class="a">
            <li>Name : Natashi Sharma</li>
            <li>Role : Web Development Part</li>
            <li>Mobile No : 9082352937</li>
          </ul>
        </div>
      </div>
    <div class="shail" style="width: 18rem;">
        
        <ul class="a">
            <li>Name : Shail Pancholi</li>
            <li>Role : Web Development Part</li>
            <li>Mobile No : 7038049751</li>
          </ul>
        </div>
      </div>
      
    <div class="vedant" style="width: 18rem;">
      <ul class="a">
          <li>Name : Vedant Latthe</li>
          <li>Role : Web Development Part</li>
          <li>Mobile No : 8767706762</li>
        </ul>
      </div>
    </div>
      <br>
      <br>
      <br>
      <div class="c">
          <a href="/pbl/index" class="btn btn-primary">Back</a>
      </div>
</h1>
</body>
</html>