<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/about_project.css">
</head>
<body>
    <div class="y">
        <img src=""C:\Users\vedan\OneDrive\Pictures\Screenshots\3d.png"" alt="">
    </div>
    <div class="a">
        <p class="z">
            <br>
            The project is about developing a system for 2D image to 3D model conversion. The system would take as input a 2D image and output a 3D model that closely resembles the object in the image. 
            The project involves collecting a dataset of 2D images and their corresponding 3D models, preprocessing the data, training a machine learning model on the dataset, and evaluating the performance of the model
        </p>
        <br>
    </div>
    <br>
    <br>
    <div class="b">
        <br>
        <h2 class="z">WHY 2D to 3D IMAGE CONVERSION SYSTEM IS IMPORTANT :</h2>
        <br>
        <ol class="c">Enhanced Visualization</ol>
        <ol class="c">Cost-Effective</ol>
        <ol class="c">Accessibility</ol>
        <ol class="c">New Applications</ol>
        <br>
    </div>
    <br>
    <br>
    <div class="d">
        <br>
        <p class="e">A 2D to 3D image conversion system is important for several reasons. Firstly, it enables enhanced visualization of objects and scenes. While 2D images provide a limited perspective,
            3D models provide more comprehensive and detailed information about an object's shape, size, and spatial relationships. Secondly, 2D to 3D conversion is cost-effective, as it eliminates 
            the need for expensive 3D scanning equipment or manual 3D modeling. This makes it a viable option in various industries such as gaming, architecture, and design. Thirdly, 
            2D to 3D conversion can make 3D modeling more accessible to a wider range of users, as 2D images are more readily available and easier to capture than 3D models. Finally, 
            2D to 3D conversion can enable new applications in fields such as medical imaging and scientific visualization, providing more accurate and detailed analysis of complex structures such as molecules and organs.</p>
            <br>
    </div>
    <br>
    <br>
    <br>
</body>
</html>